.page-sub-title {
  font-size: 2rem;
  font-weight: 300;
  color: white;
  margin-bottom: 1rem;
}

.section-sub-header {
  margin: 2rem;
  font-weight: 400;
  font-size: 1.25rem;
}

.card-type-right {
  text-align: right;
  font-size: 1.25rem;
  font-weight: 400;
}

.card-type-left {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 400;
}

.text-capitalize {
  text-transform: capitalize;
}

/* #######################Font templates######################## */

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

/* #######################Color templates######################## */

.light-shadow {
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.15);
}

.dark-grey {
  color: #5e5e5e;
}

.light-grey {
  color: #8d8d8d;
}

.color-white {
  color: white;
}

.color-red {
  color: #ff5252;
}

.color-blue {
  /* color: #2f71edf8; */
  /* color: #255bc0f8; */
  color: #3bb3eb;
}

.color-black {
  color: black;
}

.color-dark-blue {
  color: #005279;
}

.bg-white-custom {
  background-color: white;
}

.bg-white-custom:hover {
  background-color: #003d59;
  color: white;
}

.bg-white-custom:hover .color-black {
  color: white;
}

.bg-light-blue {
  background-color: #00aeff1f;
}

.bg-dark-blue {
  background-color: #003d59;
}

.bg-blue-dark {
  background-color: #003d59;
}

.bg-blue-dark:hover {
  background-color: white;
}

.bg-blue-dark:hover p {
  color: black;
}

.bg-blue-dark:hover .color-black {
  color: white;
}

.bg-blue-dark:hover .color-white {
  color: black;
}

.bg-green {
  background-color: #00bfa5;
}

.bg-red {
  background-color: #ff5252;
}

.bg-blue {
  background-color: #3bb3eb;
}

.bg-yellow {
  background-color: #ffeb3b;
}

.bg-purple {
  background-color: #9c27b0;
}

.bg-orange {
  background-color: #ff9800;
}

.bg-pink {
  background-color: #e91e63;
}

/* .bg-white {
  background-color: white;
  height: 100%;
}

.bg-white::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0%;
  color: black;
  background-color: #00202f;
  transition: all 0.5s linear;
  z-index: -1;
  border-radius: 1rem;
}

.bg-white:hover:after {
  height: 100%;
  z-index: -1;
}

.bg-dark-blue::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0%;
  color: black;
  background-color: #00202f;
  transition: all 0.5s linear;
  z-index: -1;
  border-radius: 1rem;
}

.bg-dark-blue:hover:after {
  height: 100%;
  z-index: -1;
} */

.bg-blue-gradient {
  background: linear-gradient(to top right, #00aeff, #3bb3eb);
  background-size: 600% 600%;
  animation: gradient 5s ease-in-out infinite;
}

.bg-blue-gradient-reverse {
  background: linear-gradient(to bottom right, #3bb3eb, #00aeff86);
  background-size: 600% 600%;
  animation: gradient 5s ease-in-out infinite;
}

.bg-dark-blue-gradient {
  background: linear-gradient(to bottom right, #006797, #00aeff);
  background-size: 600% 600%;
  animation: gradient 5s ease-in-out infinite;
}

.bg-dark-blue-gradient-reverse {
  /* background: linear-gradient(to right, #80e136, #003d59); */
  background: linear-gradient(to bottom right, #00aeff, #006797);
  background-size: 600% 600%;
  animation: gradient 5s ease-in-out infinite;
}

.feature-line {
  width: 40rem;
  height: 2px;
  position: relative;
  background: #3bb3eb;
  margin: auto auto;
  display: inline-block;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.occilate {
  -webkit-animation-name: oscillate;
  animation-name: oscillate;
}

.occilate-reverse {
  -webkit-animation-name: oscillate-reverse;
  animation-name: oscillate-reverse;
}

.feature-line .animate-bar {
  height: 100%;
  width: 20px;
  left: -5px;
  top: 0;
  /* background: white; */
  position: absolute;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: oscillate;
  animation-name: oscillate;
}

/* #######################Sizing templates######################## */

.height-100 {
  height: 100px;
}

.height-200 {
  height: 200px;
}

.height-300 {
  height: 300px;
}

.height-350 {
  height: 350px;
}

.height-400 {
  height: 400px;
}

.height-500 {
  height: 500px;
}

/* #######################Position templates######################## */

.reset-style,
.reset-style * {
  all: revert;
}

.scroll-margin-100 {
  scroll-margin: 95px;
}

.scroll-margin-150 {
  scroll-margin: 150px;
}

.scroll-margin-200 {
  scroll-margin: 200px;
}

.margin-x-auto {
  margin: 0 auto;
}

.margin-y-auto {
  margin: auto 0;
}

.padding-even {
  padding: auto auto;
}

.center-justify {
  justify-content: center;
}

.display-flex {
  display: flex;
}

.center-div {
  display: flex; /* use flexbox */
  justify-content: center; /* center items horizontally, in this case */
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
  flex: 1;
}

.space-around {
  justify-content: space-around;
}

.position-absolute {
  position: absolute;
}

.center-align {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.center-align {
  text-align: left;
}

/* #######################General Styling######################## */

.reusable-hero-text {
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  padding: 0 5rem;
  margin: 0 0;
  transition: all 0.3s ease-in-out;
}

.reusable-hero-text:hover {
  background-color: rgba(255, 255, 255, 0.95);
}

.card-icon {
  color: white;
  font-size: 30px;
  padding-top: 3px;
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  text-align: center;
}

.animated-line {
  width: 80px;
  height: 1px;
  position: relative;
  background: #3bb3eb;
  margin: 20px 0 15px;
  display: inline-block;
}

.box-sizing {
  box-sizing: border-box;
}

.border-radius {
  border-radius: 1rem;
}

.box-shadow-0 {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.8);
}

.padding-0 {
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.lift-on-hover {
  transition: all 0.3s ease-in-out;
}

.padding-auto {
  padding: 2rem 2rem;
}

.lift-on-hover:hover {
  transform: translateY(-15px);
}

.first {
  order: 1;
}

.second {
  order: 2;
}

/* #######################Media Queries######################## */

@media only screen and (max-width: 1000px) {
  .page-sub-title {
    font-size: 2rem;
  }

  .height-100 {
    height: 100px;
  }

  .height-200 {
    height: 200px;
  }

  .height-300 {
    height: 375px;
  }

  .height-400 {
    height: 300px;
    text-align: center;
  }

  .height-500 {
    height: 500px;
  }
}
@media only screen and (max-width: 767px) {
  .page-sub-title {
    font-size: 1.25rem;
  }
  .bg-blue-gradient {
    background: linear-gradient(90deg, #2d88b3 0%, #3bb3eb 100%);
  }

  .bg-blue-gradient-reverse {
    background: linear-gradient(90deg, #003d59 0%, #00567e 100%);
  }

  .color-dark-blue {
    color: #0097dd;
  }

  .height-100 {
    height: 100px;
  }

  .height-200 {
    height: 200px;
  }

  .height-300 {
    height: 400px;
  }

  .height-400 {
    height: 300px;
  }

  .height-500 {
    height: 500px;
  }
}
@media only screen and (max-width: 375px) {
  .page-sub-title {
    font-size: 1.75rem;
  }

  .height-100 {
    height: 100px;
  }

  .height-200 {
    height: 200px;
  }

  .height-300 {
    height: 400px;
  }

  .height-400 {
    height: 300px;
  }

  .height-500 {
    height: 500px;
  }
}

@media only screen and (max-width: 991px) {
  .card-type-right {
    text-align: center;
    padding: 0 3rem;
  }
}

@media (max-width: 550px) {
  .center-align {
    text-align: center;
    margin: 0 auto;
  }

  .resize-img {
    width: 85%;
    height: 85%;
  }

  .first {
    order: 2;
  }

  .second {
    order: 1;
  }

  .height-100 {
    height: 100px;
  }

  .height-200 {
    height: 100px;
  }

  .height-300 {
    height: 300px;
  }

  .height-400 {
    height: 300px;
  }

  .height-500 {
    height: 400px;
  }
}

@media (max-width: 900px) {
  .center-align {
    text-align: center;
    margin: 0 auto;
  }

  .resize-img {
    width: 65%;
    height: 65%;
  }
}

/* #######################Animations######################## */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.duration-1000 {
  animation-duration: 1s;
}

.duration-2000 {
  animation-duration: 2s;
}

.delay-500 {
  animation-delay: 500ms;
}

.ease-in-out {
  animation-timing-function: ease-in-out;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@-webkit-keyframes oscillate {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes oscillate {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes oscillate-reverse {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes oscillate-reverse {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
