.page-sub-title {
  font-size: 2rem;
  font-weight: 300;
  color: white;
  margin-bottom: 1rem;
}

.section-sub-header {
  margin: 2rem;
  font-weight: 400;
  font-size: 1.25rem;
}

.card-type-right {
  text-align: right;
  font-size: 1.25rem;
  font-weight: 400;
}

.card-type-left {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 400;
}

.text-capitalize {
  text-transform: capitalize;
}

/* #######################Color templates######################## */

.light-shadow {
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.15);
}

.dark-grey {
  color: #5e5e5e;
}

.light-grey {
  color: #8d8d8d;
}

.white {
  color: white;
}

.color-blue {
  /* color: #2f71edf8; */
  /* color: #255bc0f8; */
  color: #3bb3eb;
}

.color-dark-blue {
  color: #005279;
}

.bg-light-blue {
  background-color: #00aeff1f;
}

.bg-dark-blue {
  background-color: #003d59;
}

.bg-blue-gradient {
  background: linear-gradient(90deg, #fff 0%, #3bb3eb 100%);
}

.bg-blue-gradient-reverse {
  background: linear-gradient(90deg, #3bb3eb 0%, #fff 100%);
}

.bg-dark-blue-gradient {
  background: linear-gradient(90deg, #003d59 0%, #fff 100%);
}

.bg-dark-blue-gradient-reverse {
  background: linear-gradient(90deg, #fff 0%, #003d59 100%);
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.font-bold {
  font-weight: 550;
}

/* #######################Position templates######################## */

.center-justify {
  justify-content: center;
}

.display-flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.position-absolute {
  position: absolute;
}

.center-align {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.center-align {
  text-align: left;
}

/* #######################General Styling######################## */

.card-icon {
  color: white;
  font-size: 30px;
  padding-top: 3px;
  display: inline-block;
  width: 70px;
  height: 70px;
  background: #3bb3eb;
  line-height: 70px;
  border-radius: 50%;
  text-align: center;
}

.animated-line {
  width: 80px;
  height: 1px;
  position: relative;
  background: #3bb3eb;
  margin: 20px 0 15px;
  display: inline-block;
}

.box-sizing {
  box-sizing: border-box;
}

.border-radius {
  border-radius: 1rem;
}

.box-shadow-0 {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.8);
}

.padding-0 {
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.lift-on-hover {
  transition: transform 0.3s ease-in-out;
}

.padding-auto {
  padding: 2rem 2rem;
}

.lift-on-hover:hover {
  transform: translateY(-10px);
}

.first {
  order: 1;
}

.second {
  order: 2;
}

/* #######################Media Queries######################## */

@media only screen and (max-width: 991px) {
  .page-sub-title {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  .page-sub-title {
    font-size: 1.75rem;
  }
  .bg-blue-gradient {
    background: linear-gradient(90deg, #2d88b3 0%, #3bb3eb 100%);
  }

  .bg-blue-gradient-reverse {
    background: linear-gradient(90deg, #003d59 0%, #00567e 100%);
  }

  .color-dark-blue {
    color: #0097dd;
  }
}
@media only screen and (max-width: 375px) {
  .page-sub-title {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 991px) {
  .card-type-right {
    text-align: center;
    padding: 0 3rem;
  }
}

@media (max-width: 550px) {
  .center-align {
    text-align: center;
    margin: 0 auto;
  }

  .resize-img {
    width: 85%;
    height: 85%;
  }

  .first {
    order: 2;
  }

  .second {
    order: 1;
  }
}

@media (max-width: 900px) {
  .center-align {
    text-align: center;
    margin: 0 auto;
  }

  .resize-img {
    width: 65%;
    height: 65%;
  }
}

/* #######################Animations######################## */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.duration-1000 {
  animation-duration: 1s;
}

.duration-2000 {
  animation-duration: 2s;
}

.delay-500 {
  animation-delay: 500ms;
}

.ease-in-out {
  animation-timing-function: ease-in-out;
}
